@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --text-1: #dadada;
  --text-2: #c7c7c7;
  --scrollbar-1: #040a0f;
  --scrollbar-2: #202b38;
  --background-1: #0c0c0c;
  --background-2: #161616;
  --input-background-1: #121212;
  --input-background-2: #272727;
  --input-background-3: #191919;
  --border: #353535;
  --select-arrow: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KICA8cGF0aCBkPSJNNyAxMGw1IDUgNS01IiBzdHJva2U9IiNkYWRhZGEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");

  --primary: #1c76c5;
  --primary-hover: #145894;

  --border-radius: 4px;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Poppins, "Open Sans", "Helvetica Neue", sans-serif;
  scrollbar-color: var(--scrollbar-1) var(--scrollbar-2);
  scrollbar-width: 4px;
}
body {
  max-width: 750px;
  background: var(--background-1);
  color: var(--text-1);
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 auto;
  padding: 0 1rem;
  overflow-x: hidden;
}
section {
  padding: 1rem 0;
  border-bottom: 1px solid var(--border);
  margin: 1rem 0;
}
section:last-child {
  border-bottom: none;
}
article {
  padding: 0.7rem 0.5rem;
  border: 1px solid var(--border);
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
header {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--border);
  text-align: center;
  background-color: var(--background-2);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -49vw;
  width: 100vw;
}
header h1 {
  color: var(--primary);
}

footer {
  padding: 1rem 1rem 2rem 1rem;
  border-top: 1px solid var(--border);
  margin: 2rem 0;
}
aside {
  padding: 0.7rem 0.5rem;
  margin: 1rem 0;
}
hr {
  margin: 0.2rem;
  border-color: var(--border);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.9rem;
}
p,
span {
  margin: 1rem 0;
}
::selection,
mark {
  background-color: var(--primary-hover);
  color: white;
}
blockquote {
  background-color: var(--input-background-2);
  padding: 0.8rem;
  border-radius: var(--border-radius);
  border-left: 4px solid var(--primary);
  margin: 1rem 0;
  font-style: italic;
}
cite {
  color: var(--text-2);
  font-style: normal;
}
kbd,
code,
pre,
samp {
  background-color: var(--input-background-2);
  padding: 0.25rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border);
  color: var(--text-1);
  margin-bottom: 1rem;
}
pre {
  overflow: auto;
}
kbd {
  font-size: 0.9rem;
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
}
var {
  font-family: monospace;
}
abbr {
  cursor: help;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}
textarea,
select,
input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input,
select,
textarea {
  display: block;
  color: var(--text-1);
  background-color: var(--input-background-1);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid var(--border);
  transition: 0.2s ease-in-out all;
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--primary);
  outline: none;
}
input[type="color"] {
  padding: 0;
  height: 2.3rem;
  overflow: none;
  width: 2.3rem;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[disabled] {
  background-color: var(--input-background-2);
}
input[disabled],
input[readonly] {
  cursor: context-menu;
}
input[type="file"] {
  background: none;
  border: none;
}
input[type="range"],
input[type="file"] {
  background-color: none;
}
input[type="checkbox"],
input[type="radio"] {
  display: initial;
  position: relative;
  vertical-align: middle;
  width: 1.2rem;
  height: 1.2rem;
}
input[type="radio"] {
  border-radius: 50%;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--primary);
}
input[type="checkbox"]:checked::after {
  content: "✔";
  color: var(--input-background-1);
  position: absolute;
  top: -2px;
  left: 3px;
}
input[type="radio"]:checked::after {
  content: "";
  display: block;
  background-color: var(--input-background-1);
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}
input[type="range"] {
  appearance: auto;
  accent-color: var(--primary);
}
progress {
  accent-color: var(--primary);
}
select {
  background: var(--input-background-1) var(--select-arrow) calc(100% - 4px)
    no-repeat;
  padding-right: 35px;
}
form {
  margin-bottom: 1rem;
}
fieldset {
  margin: 1rem 0;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 1.5rem;
}
legend {
  font-weight: 600;
  font-size: 1rem;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--primary);
  color: var(--text-1);
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: var(--primary-hover);
}
table {
  width: 100%;
  border: var(--border);
  border-collapse: collapse;
}
th,
td {
  border-bottom: 1px solid var(--border);
  padding: 0.5rem;
}
th {
  text-align: left;
  font-weight: 800;
  background: var(--input-background-1);
}
tr:nth-child(odd) {
  background: var(--input-background-3);
}
tr:nth-child(even) {
  background: var(--input-background-1);
}
table caption {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
tfoot tr td {
  background: var(--input-background-1);
  border: none;
}
ol,
ul {
  padding-left: 2rem;
  margin: 1rem 0;
}
li {
  margin-top: 0.5rem;
}
dl {
  padding-left: 1rem;
  margin: 1rem 0;
}
dt {
  font-weight: bold;
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
}
dd {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
video,
img {
  border-radius: var(--border-radius);
}
details {
  padding: 0.5rem;
  background-color: var(--input-background-1);
  font-size: 1.2rem;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
  margin: -0.5rem;
  word-break: break-all;
}
details[open] > summary + * {
  margin-top: 0;
}
details[open] > summary {
  margin-bottom: 0.5rem;
}
details[open] > :last-child {
  margin-bottom: 0;
}
